<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Book</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(to right, #00c6ff, #0072ff);
            font-family: 'Arial', sans-serif;
        }
        .container {
            background: rgba(255, 255, 255, 0.1);
            padding: 3rem;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            text-align: center;
            max-width: 400px;
            width: 100%;
            color: #fff;
        }
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
        input[type="file"], input[type="text"], textarea,input[type="number"], select {
            width: 100%;
            padding: 0.75rem;
            margin-bottom: 1rem;
            border: none;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            color: #fff;
        }
        input[type="file"]::file-selector-button, button {
            padding: 0.5rem 1rem;
            background: #0072ff;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            transition: background 0.3s;
        }
        input[type="file"]::file-selector-button:hover, button:hover {
            background: #00c6ff;
        }
        button {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Upload Book</h1>
        <form action="http://localhost:3000/api/uploadBooks" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Title" required>
            <input type="text" name="author" placeholder="Author" required>
            <textarea name="description" placeholder="Description" required></textarea>
            <input type="number" name="price" placeholder="Price" required>
            <select name="cover" required style="background-color: rgb(246, 28, 191);">
                <option value="Soft cover">Soft cover</option>
                <option value="Hard cover">Hard cover</option>
            </select>
            <input type="file" name="image" required>
            <button type="submit">Upload</button>
        </form>
    </div>
</body>
</html>
